<IfModule mod_rewrite.c>
    RewriteEngine On

    # If a directory or a file exists, use it directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Otherwise forward to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
