/* Custom #color_code#
	#ffffff = #fff;
	#9B1C31 =#e40955;
    rgba(222,140,216,0.82) =rgba(228, 9, 85, 0.82); 
*/

.navbar-default .navbar-nav > li > a {
  color: #ffffff !important;
}
#navbar2 {
  background: #9b1c31 !important;
}
.searchnow {
  background-color: #9b1c31 !important;
  border: 1px solid #9b1c31 !important;
}
.mega-n4 {
  color: #9b1c31 !important;
}
.box-step:hover {
  background-color: #9b1c31 !important;
}
.mega-n-btn1 {
  background-color: #9b1c31 !important;
}
.weding-vendor {
  background-color: #9b1c31 !important;
}
.mega-n11 {
  color: #9b1c31 !important;
}
.color-d {
  color: #9b1c31 !important;
}
#p1 .f-c:after {
  background: #9b1c31 !important;
}
#p2 .f-c:after {
  background: #9b1c31 !important;
}
#p3 .f-c:after {
  background: #9b1c31 !important;
}
#p4 .f-c:after {
  background: #9b1c31 !important;
}

#p5 .f-c:after {
  background: #9b1c31 !important;
}
.footer-b {
  background-color: #9b1c31 !important;
}
.box-step:hover .step-number {
  background-color: #9b1c31 !important;
}
.md-radio input[type="radio"]:checked + label:before {
  border-color: #9b1c31 !important;
}
.md-radio label:after {
  border: 2px solid #9b1c31 !important;
}
.e-3_m {
  background-color: #9b1c31 !important;
}
.e-3 {
  background-color: #9b1c31 !important;
}
.mega-n-dropdown > li > a:hover,
.mega-n-dropdown > li > a:focus {
  background-color: #9b1c31 !important;
  color: #ffffff !important;
}
.contact-tab-m .nav-tabs li a:hover,
.contact-tab-m .nav-tabs li.active a {
  border: none;
  color: #9b1c31 !important;
}
.add-w-btn {
  background-color: #9b1c31 !important;
}
.matri-id-s {
  color: #9b1c31 !important;
}

.new-accordion .panel-default > .panel-heading {
  color: #ffffff !important;
  background-color: #9b1c31 !important;
  border-color: #9b1c31 !important;
}
label.checkbox input[type="checkbox"]:checked ~ span {
  color: #ffffff !important;
  background: #9b1c31 url(../images/verification-mark.png) 50% 40% no-repeat !important;
  border: 2px solid #9b1c31 !important;
}
.color-f {
  color: #ffffff !important;
}
.footer-b-a a {
  color: #ffffff !important;
}
#mg-1 .f-c2:after {
  background: #ffffff !important;
}
#mg-2 .f-c2:after {
  background: #ffffff !important;
}
#mg-3 .f-c2:after {
  background: #ffffff !important;
}
.progress-wrap {
  box-shadow: inset 0 0 0 2px #9b1c31 !important;
}
i.fas.fa-angle-right.f {
  color: #ffffff !important;
}
.bread-crumb a {
  color: #9b1c31 !important;
}
.form-control:focus {
  border-color: #9b1c31 !important;
  box-shadow: inset 0 0px 0px 0 rgba(0, 0, 0, 0.075),
    0 0 8px rgba(222, 140, 216, 0.82) !important;
}
.contact-tab-m .nav-tabs li a:after {
  background: #9b1c31 !important;
  border: 1px solid #9b1c31 !important;
}
p.f2-text {
  color: #ffffff !important;
}
h5.f-c2 {
  color: #ffffff !important;
}
p.folow-us {
  color: #ffffff !important;
}
.sidebar-nav .panel-default > .panel-heading a[aria-expanded="true"] {
  background-color: #9b1c31 !important;
  color: #ffffff !important;
  margin-left: 0px;
}
.mytextwithicon:before {
  color: #9b1c31 !important;
}
.mega-rm {
  color: #9b1c31 !important;
}
.bg-new-post {
  background-color: #9b1c31 !important;
}
.new-member-demo-head {
  background: #9b1c31 !important;
}

.member-radio label {
  background: #9b1c31 !important;
}
.panel-member {
  color: #fff;
  background-color: #9b1c31 !important;
  border-color: #9b1c31 !important;
}
.pagination-v1 > li > a.active,
.pagination-v1 > li > a:hover,
.pagination-v1 > li > span:hover,
.pagination-v1 > li > a:focus,
.pagination-v1 > li > span:focus {
  border-color: #9b1c31 !important;
  color: #fff !important;
  background-color: #9b1c31 !important;
}
.pagination-v1 > li > a,
.pagination-v1 > li > span {
  color: #9b1c31 !important;
}

.new-saved-search:before {
  background: #9b1c31 !important;
}
.dshbrd_21 {
  background-color: #9b1c31 !important;
}
.p-search {
  color: #9b1c31 !important;
}
.p-search a {
  color: #9b1c31 !important;
}
.dshbrd_16 {
  color: #9b1c31 !important;
}
.dshbrd_color_overlay:before {
  background: #9b1c31 !important;
}
#testimonial-slider_kd .owl-prev:after,
.owl-next:after {
  background-color: #9b1c31 !important;
}
.dshbrd_20 {
  background-color: #9b1c31 !important;
}
/* .matri-id-s-2{
	color:#ffffff !important;
} */
.dshbrd_17 {
  background-color: #9b1c31 !important;
}

.edit_tab_deactive {
  color: #9b1c31 !important;
}
.edit_li li.active:after {
  background: #9b1c31 !important;
}
.edit_tab_deactive:after {
  background: #9b1c31 !important;
}
.scroller.scroller-left-1 {
  background-color: #9b1c31 !important;
}
.scroller.scroller-right-1 {
  background-color: #9b1c31 !important;
}
.exp_int_delete_btn {
  background-color: #9b1c31 !important;
}

.exp_int_send_btn {
  background: #9b1c31 !important;
}
.new-photo-edit {
  background: rgba(222, 140, 216, 0.82) !important;
}
.upload-wapper {
  background-color: #9b1c31 !important;
}
.dshbrd_11 {
  color: #9b1c31 !important;
}
/* .mega-n3 {
	color:#ffffff !important;
} */
.lable-cstm-search {
  color: #9b1c31 !important;
}
.invoice table .no {
  background: #9b1c31 !important;
}
.invoice table .total {
  background: #9b1c31 !important;
}
.invoice table tfoot tr:last-child td {
  color: #9b1c31 !important;
  border-top: 1px solid #9b1c31 !important;
}
.radio-item label:before {
  border: 2px solid #9b1c31 !important;
}
.radio-item input[type="radio"]:checked + label:after {
  border: 2px solid #9b1c31 !important;
}
.process-model li.active i,
.process-model li.visited i {
  border-color: #9b1c31 !important;
}
.process-model li.active p,
.process-model li.visited p {
  font-weight: 600;
  color: #9b1c31 !important;
}
.curved-border {
  border: 4px solid #9b1c31 !important;
  z-index: -2;
}
.new-view-p li a {
  color: #9b1c31 !important;
}
.active-class-red {
  color: #9b1c31 !important;
}
.info-tab .nav-tabs .active-dot a:before {
  background: #9b1c31 !important;
}
.info-tab .nav-tabs li:nth-child(2).active:before {
  background: #9b1c31 !important;
}
.info-tab .nav-tabs li:nth-child(3).active:before {
  background: #9b1c31 !important;
}
.info-tab .nav-tabs li:nth-child(4).active:before {
  background: #9b1c31 !important;
}
.info-tab .nav-tabs li:nth-child(5).active:before {
  background: #9b1c31 !important;
}
.sidebar-btn {
  background-color: #9b1c31 !important;
  color: #fff !important;
}
.part_prf_cstm {
  background-color: #9b1c31 !important;
}
.info-tab ul .l1:after {
  background: #9b1c31 !important;
}
/* input[type="checkbox"]:checked + label:before {
    background: #fff;
	color: #9B1C31 !important;
} */
.process-model li.active i,
.process-model li.visited i {
  border-color: #9b1c31 !important;
}
.header_t1 {
  background-color: #9b1c31 !important;
}
.generate_otp_btn_m {
  background-color: #9b1c31 !important;
}
.pagination-v1 > li > a.active:hover i,
.pagination-v1 > li > a:hover i,
.pagination-v1 > li > span:hover,
.pagination-v1 > li > a:focus,
.pagination-v1 > li > span:focus {
  border-color: #9b1c31 !important;
  color: #fff !important;
  background-color: #9b1c31 !important;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
  color: #9b1c31 !important;
}
.fr-cptn1 {
  color: #9b1c31 !important;
}
.filter-btn {
  background-color: #9b1c31 !important;
  border-color: #9b1c31 !important;
}
.irs-bar {
  border-top: 1px solid #9b1c31 !important;
  border-bottom: 1px solid #9b1c31 !important;
  background: #9b1c31 !important;
}
.pannel-new .panel-title > a,
.panel-title > a:active {
  color: #9b1c31 !important;
}
.color-modal {
  background: #9b1c31 !important;
}
.new-check-box-modal input[type="radio"]:checked + label.sprinkles,
input[type="checkbox"]:checked + label.sprinkles {
  background-color: #9b1c31 !important;
  border-color: #9b1c31 !important;
  color: #fff !important;
}
.new-check-box-modal input[type="radio"] + label,
.new-check-box-modal input[type="checkbox"] + label {
  color: #9b1c31 !important;
}
.demo-search .pagination li.active a.page-link,
.demo-search .pagination li a.page-link:hover,
.demo-search .pagination li.active a.page-link:hover {
  color: #9b1c31 !important;
  border-color: #9b1c31 !important;
}
.que-mark {
  color: #9b1c31 !important;
}
.info-tab .nav-tabs li.active a:before {
  background: #9b1c31 !important;
}
::-webkit-scrollbar-thumb {
  background: #9b1c31 !important;
}
/* .mega-n-ul .active a:before {
	background: #9B1C31 !important;
} */
.conatct-to-admin {
  background-color: #9b1c31 !important;
}
.dshbrd_12 {
  color: #9b1c31 !important;
}

.new-accordion .panel-default {
  border-color: #9b1c31 !important;
}
.fr-slider {
  color: #9b1c31 !important;
}
.h-c1 {
  color: #9b1c31 !important;
}
.new-check-box-modal input[type="checkbox"] + label:before {
  border: 2px solid #9b1c31 !important;
}
.search-new-modal-b {
  color: #9b1c31 !important;
}
.content-dot:before {
  content: "";
  background: #9b1c31 !important;
}
.s-img-2 {
  border-left: 5px solid #9b1c31 !important;
}
.btn-join {
  background-color: #9b1c31 !important;
}
.btn-primary-k {
  color: #fff;
  background-color: #9b1c31 !important;
  border-color: #9b1c31 !important;
}

.copyright-mn1 {
  background-color: #9b1c31 !important;
}
.scroller.scroller-left-2 {
  background-color: #9b1c31 !important;
}
.scroller.scroller-right-2 {
  background-color: #9b1c31 !important;
}
.panel-primary-2 {
  border-color: #9b1c31 !important;
}
.select2-lbl-span {
  color: #9b1c31 !important;
}
.event-checkout-add {
  background-color: #9b1c31 !important;
}
.new-togel {
  background-color: #9b1c31 !important;
  border-color: #9b1c31 !important;
}
.new-check-box-modal input[type="checkbox"]:checked + label:before {
  color: #9b1c31 !important;
}
input[type="checkbox"]:checked + label:before {
  color: #9b1c31 !important;
}
.weding-vendor-wedding {
  background-color: #9b1c31 !important;
}
.custom-option:hover,
.custom-option.selection {
  background: #9b1c31 !important;
}
.mega-font-mobile {
  color: #9b1c31 !important;
}
/* @media only screen and (max-device-width: 480px) and (min-device-width: 320px){
.m-active-c {
    background-color: #9B1C31 !important;
   
}
} */
.newHamburge,
#dismiss,
.ul-li-bg li {
  background: #9b1c31 !important;
}
.cool-link a {
  color: #9b1c31 !important;
}
.menu-active:after {
  background: #9b1c31 !important;
}
._hamburge ul li:last-child a {
  /*background: #9B1C31 !important;*/
}
._hamburge li:hover:after {
  background: #9b1c31 !important;
}
._hamburge li:last-child:hover:after {
  background: none !important;
}
.footer-bg {
  background-color: #9b1c31 !important;
}
.edit_accordion_submit_btn {
  background-color: #9b1c31 !important;
}
.last-child-menu {
  background: #9b1c31 !important;
}
.go_back_btn {
  background-color: #9b1c31 !important;
}
.notification-header,
.freichathead {
  background: #9b1c31 !important;
}
.bottomTabs {
  background: #9b1c31 !important;
}
#freichat .nav-tabs > li.active > a,
#freichat .nav-tabs > li.active > a:hover,
#freichat .nav-tabs > li.active > a:focus {
  background: #ffffff !important;
  color: #9b1c31 !important;
}
.chatboxhead {
  background: #9b1c31 !important;
}
.edit-save-btn {
  background-color: #9b1c31 !important;
}

/*new my profile and view profile color #start*/
.bg-plan-up {
  background: #9b1c31 0% 0% no-repeat padding-box !important;
}
.for-list-title-bg {
  background: #9b1c31 0% 0% no-repeat padding-box !important;
}
.partner-pre-bg {
  background-color: #9b1c31 !important;
}
.progress-pro button {
  background: #9b1c31 0% 0% no-repeat padding-box !important;
}
.my-profile-details .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom: solid 2px #9b1c31 !important;
  color: #9b1c31 !important;
}
#line-progressbar {
  background: #9b1c31 !important;
}
.for-timelinr-user .row section .icon,
.for-timelinr-user .center-line .scroll-icon {
  background: #9b1c31 !important;
}
.btn-msg-pro button {
  background: #9b1c31 !important;
}
.s-card-1-web {
  background-color: #9b1c31 !important;
}
.rec-mem-box {
  background: #9b1c31 !important;
}
/*new my profile and view profile color #end*/
